@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500; 600;700; 800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #454545;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.bg-img {
  height: 550px;
  width: 100%;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 80%;
  max-width: 600px;
  height: 40px;
  color: #f3fcf7;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  backdrop-filter: blur(4px) saturate(180%);

}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 16px;
  color: #f2e9e4;
}

::placeholder {
  color: azure;
}

.search-bar button {
  border: 0;
  width: 90px;
  height: 30px;
  padding: 7px 7px;
  margin: 8px;
  display: block;
  outline: none;
  border: none;
  border-radius: 50%;
  transition: .2s ease-in;
  cursor: pointer;
  background: #f3efec;
  margin-left: 0px;
  margin-right: 0px;
}

.top {
  padding-bottom: 210px;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
}
#cart-icon {
  cursor: pointer;
  position: relative;
}

#cart-icon[data-quantity="0"]::after {
  content: "";
}

#cart-icon[data-quantity]::after {
  content: attr(data-quantity);
  position: absolute;
  top: -12px;
  right: -12px;
  width: 16px;
  height: 16px;
  background: #b10f2e;
  border-radius: 50%;
  color: #f1efef;
  font-size: 8px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .contain {
    flex-direction: column;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-bar input {
    padding: 10px;
    margin-bottom: 10px;
  }

  .search-bar button {
    width: 100%;
    height: 40px;
  }

  #hero {
    margin: 0;
    text-align: center;
    padding: 20px;
  }

  #hero h4, #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero h2 {
    font-size: 24px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin-bottom: 10px;
  }
}
.cart1 {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  background: #686056;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 9999;
  overflow-y: auto;
}

.cart1-active {
  right: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #7e0504;
}

.total-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.total-price {
  font-size: 1.075rem;
  margin: 1rem 0 0 0.7rem;
}

.cart1 .btn {
  margin: 1.5rem auto 0 auto;
  cursor: pointer;
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  padding: 10px;
}

.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.cart-product-title {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid #7e0504;
  outline-color: #7e0504;
  width: 2rem;
  text-align: center;
  font-size: .8rem;
  border-radius: 4px;

}

.cart-remove {
  font-size: 24px;
  color: #7e0504;
  cursor: pointer;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: #7e0504;
  cursor: pointer;
}

.featurez {
  margin-top: 170px;
  height: auto;
  width: 100%;
  padding: 50px;
  background-color: #f3efec;
}

.featurez h2 {
  padding-left: 520px;
}

.featurez p {
  padding-left: 490px;
}

.featurew {
  margin-top: 170px;
  height: auto;
  width: 100%;
  padding: 50px;
  background-color: #f3efec;
}

.featurew h2 {
  padding-left: 520px;
}

.featurew p {
  padding-left: 560px;
}
@media screen and (max-width: 800px) {
  .featurez {
    padding: 20px;
    
    height: auto;
    margin-top: 20px;
    width: 100%;
    background-color: #f3efec;
    
  }
  
  .featurez h2 {
    padding-left: 160px;
  }
  
  .featurez p {
    padding-left: 140px;
  
  }
}
@media screen and (max-width: 800px) {
  .featurew {
    padding: 20px;
    
    height: auto;
    margin-top: 20px;
    width: 100%;
    background-color: #f3efec;
    
  }
  
  .featurew h2 {
    padding-left: 150px;
  }
  
  .featurew p {
    padding-left: 190px;
  
  }
}
.shop {
  margin-top: 2rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.product-box {
  position: relative;
  background: #e0d6d1;
  border: 1px solid #6d4c3d;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box:hover {
  background: #b9aca5;
  border: 1px solid #d6ccc2;
  box-shadow: 0 8px 32px hsla(0.75, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box:hover .product-title,
.product-box:hover .price {
  color: #22333b;
}

.product-img {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.des {
  text-align: start;
  padding: 10px 0;
}

.des span {
  color: #6e5f4d;
  font-size: 12px;
}

.des h5 {
  padding-top: 7px;
  color: #322b21;
  font-size: 16px;
}

.des i {
  font-size: 16px;
  color: #edb668;
}

.des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #b10f2e;
}


.price {
  font-weight: 500;
}

.cart {
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #5a5043;
  padding: 10px;
  font-size: 1.7rem;
  cursor: pointer;
}

.cart:hover {
  color: #b10f2e;
}

.footer {

  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media(max-width: 1080px) {
  .feature {
    display: flex;

    width: 320;
    padding: 3rem 0 2rem;
    margin-top: 2rem !important;
  }

  .cart1 {
    width: 320px;
  }
}